.message-detail-margin {
    margin: 0 16px;
}

.message-search.appear-icon-back-mes {
    display: flex;
    align-items: center;
}

.message-detail {
    position: absolute;
    top: 52px;
    right: -101px;
    background-color: var(--primary-color);
    border-radius: 8px;
    width: 360px;
    color: #cccccc;
    overflow: auto;
    max-height: 92vh;
    display: none;
    z-index: 0;
}

.uti-item-active .message-detail {
    display: block;
}

.height-scroll {
    position: relative;
}

.message-detail::-webkit-scrollbar {
    display: none;
}

// head

.message-header {
    padding: 20px 0;
}

.icon-mes-hover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 4px;
}

.icon-mes-hover:hover {
    background-color: rgba(225, 225, 225, 0.15);
}

.message-head-cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f2f2f2;
}

.message-head-right {
    display: flex;
}

.message-name {
    font-size: 24px;
    font-weight: 900;
}

.icon-mes-head {
    font-size: 24px;
    color: #a4a7ac;
}

// item

ul.chat-list {
    margin-top: 10px;
    padding: 0;
}

.chat-img-cover {
    position: relative;
}

.chat-img-around {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
}

.chat-img {
    width: 80px;
}

.chat-des {
    flex: 1;
    margin-left: 8px;
}

.chat-des-cover {
    display: flex;
    margin-top: 6px;
}

small.chat-time {
    display: flex;
    align-items: center;
}

.chat-time-dot {
    margin: 0 4px;
}

.chat-time-dot {
    font-size: 4px;
}

svg.icon-state {
    font-size: 20px;
}

// input search

.message-search-cover {
    background-color: #3a3b3c;
    height: 36px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 1;
}

.message-search-icon {
    font-size: 20px;
    margin-left: 12px;
}

.message-input {
    border: none;
    height: 36px;
    background-color: #3a3b3c;
    padding-left: 4px;
    color: #f3f3f3;
    flex: 1;
}

.mess-icon-back {
    width: 36px;
    transform: translateX(-8px);
}

.appear-icon-back-mes .mess-icon-back {
    display: flex;
}

.message-input:focus {
    outline: none;
}

.message-input::placeholder {
    color: #a4a7ac;
}

.windowSearchMes {
    height: 300px;
    width: 100%;
}

span.noted {
    position: absolute;
    top: calc(100% + 8px);
    width: auto;
    height: auto;
    right: 0;
    padding: 10px 14px;
    min-width: 32px;
    border-radius: 8px;
    background-color: rgba(225, 225, 225, 0.9);
    z-index: 10;
    color: #222;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    white-space: nowrap;
}

.noting > .noted {
    display: flex;
}

// footer
.footerMes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    color: #2e89ff;
    font-weight: 900;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #242526;
    box-shadow: 0 0 2px rgba(225, 225, 225, 0.1);
    z-index: 2;
}

.content-footer {
    cursor: pointer;
}

//scroll bar
.scrollbar-mess {
    height: 92vh;
}