.window-create-status-cover {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    cursor: default;
}

.window-create-status {
    border-radius: 8px;
    border: 0.5px solid rgba(225, 225, 225, 0.2);
    overflow: hidden;
    background-color: var(--color-black-light);
}

.window-create-status-main,
.window-create-status-select-second, 
.window-create-status-select-first {
    width: 500px;
}

.create-status-form {
    width: 500px;
    display: flex;
}

// css cho vùng đánh chữ 
.text-status-cover {
    width: 500px;
}

#text-status {
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

#text-status:focus {
    border: none;
    outline: none;
}

// set style cho phần ảnh đại diện và tên


// set style cho extentions
.extentions-status {
    border: 0.5px solid rgba(225, 225, 225, 0.2);
}

// style cho những tiện ích mở rộng
.extention-status-item {
    position: relative;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.extention-status-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-form-create-status {
    cursor: not-allowed !important;
}

// css close tag của status
.close-box-status {
    position: absolute;
    top: 13px;
    right: 16px;
}