// set style cho chú thích khi hover element
.noted {
    position: absolute;
    width: auto;
    height: auto;
    right: auto;
    padding: 10px 10px;
    min-width: 32px;
    border-radius: 8px;
    background-color: rgba(225, 225, 225, 0.9);
    z-index: 10;
    color: #222;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: none;
    white-space: nowrap;
}

span.centernote-8 {
    top: calc(100% + 8px);
}

span.upnote-8 {
    bottom: calc(100% + 8px);
}

span.upnote-4 {
    bottom: calc(100% + 4px);
}

span.centernote-4 {
    top: calc(100% + 4px);
}

.noting > .noted {
    display: flex;
}