.scrollbar {
    position: absolute;
    width: 16px;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    background-color: transparent;
    border-radius: 10px;
}

.scrollbar-create {
    position: absolute;
    top: 4px;
    left: 3.5px;
    width: 8px;
    border-radius: 6px;
}